node-red/flows.json
[{"id":"7271cb0f.67f494","type":"tab","label":"Toilet Motion","disabled":false,"info":"Automatically turn the downstairs toilet light on when there is motion in the room.  When no motion detected for 30 seconds turn it back off."},{"id":"f39cc8ba.182208","type":"tab","label":"Toggle RemoteUI","disabled":false,"info":"Enable/Disable RemoteUI connection based on my status."},{"id":"e2ed401b.c3265","type":"tab","label":"Media","disabled":false,"info":"All things Sonos/TV/Cast etc.. devices are in here."},{"id":"acd87137.e803d","type":"tab","label":"Initialise","disabled":false,"info":""},{"id":"9ef0264f.ccb9d8","type":"server","z":"","name":"Home Assistant"},{"id":"aade3ae5.9e5628","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4fa3d034.c24a","type":"server-state-changed","z":"7271cb0f.67f494","name":"Bathroom Motion","server":"9ef0264f.ccb9d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom1_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":100,"wires":[["cc38d840.c3efa8"]]},{"id":"46eadfd1.ec0bb","type":"api-call-service","z":"7271cb0f.67f494","name":"Toilet Light","server":"9ef0264f.ccb9d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_light","data":"{\"entity_id\":\"light.bathroom_light\",\"brightness\":255,\"rgb_color\":[255,255,255]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":60,"wires":[["99e836dc.cc8af8"]]},{"id":"671cecc3.843974","type":"trigger","z":"7271cb0f.67f494","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"s","reset":"on","bytopic":"all","name":"Motion Delay","x":310,"y":180,"wires":[["42a3ba8a.603e14"]]},{"id":"cc38d840.c3efa8","type":"switch","z":"7271cb0f.67f494","name":"On or Off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":100,"wires":[["46eadfd1.ec0bb","671cecc3.843974"],["671cecc3.843974"]]},{"id":"42a3ba8a.603e14","type":"api-call-service","z":"7271cb0f.67f494","name":"Toilet Light","server":"9ef0264f.ccb9d8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_light","data":"{\"entity_id\":\"light.bathroom_light\",\"transition\":10}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":140,"wires":[["99e836dc.cc8af8"]]},{"id":"99e836dc.cc8af8","type":"debug","z":"7271cb0f.67f494","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":100,"wires":[]},{"id":"d4201824.880998","type":"server-state-changed","z":"f39cc8ba.182208","name":"My Status","server":"9ef0264f.ccb9d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.lee_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":120,"wires":[["699bbe50.0faa2"]]},{"id":"699bbe50.0faa2","type":"switch","z":"f39cc8ba.182208","name":"Home or Away?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":120,"wires":[["90e48920.4ddc88"],["d46a6a5a.55d8b8"]],"inputLabels":["Event Trigger"]},{"id":"90e48920.4ddc88","type":"api-call-service","z":"f39cc8ba.182208","name":"RemoteUI Connect","server":"9ef0264f.ccb9d8","version":1,"debugenabled":false,"service_domain":"cloud","service":"remote_connect","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":80,"wires":[["8d3a20c1.30a2d"]],"inputLabels":["Away"],"outputLabels":["Debug"]},{"id":"d46a6a5a.55d8b8","type":"api-call-service","z":"f39cc8ba.182208","name":"RemoteUI Disconnect","server":"9ef0264f.ccb9d8","version":1,"debugenabled":false,"service_domain":"cloud","service":"remote_disconnect","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":160,"wires":[["8d3a20c1.30a2d"]],"inputLabels":["Home"],"outputLabels":["Debug"]},{"id":"8d3a20c1.30a2d","type":"debug","z":"f39cc8ba.182208","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":120,"wires":[]},{"id":"4c82e46c.c91aec","type":"debug","z":"e2ed401b.c3265","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":80,"wires":[]},{"id":"20f388b1.efe738","type":"function","z":"acd87137.e803d","name":"Generate Vars","func":"global.set(\"test\",0)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[[]]},{"id":"5d2c5c58.5a8f74","type":"inject","z":"acd87137.e803d","name":"On Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["20f388b1.efe738"]]},{"id":"d53906d0.d16488","type":"inject","z":"e2ed401b.c3265","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["4c82e46c.c91aec"]]}]
